body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    background-color: #FDF0D5;
    color: #003049;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#header {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0;
}

.cells {
    background-color: transparent;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 90px;
}

[id = '3'],[id = '4'],[id = '5']{
   border-top: 5px solid #780000;
   border-bottom: 5px solid #780000; 
}

[id = '1'],[id = '4'],[id = '7']{
    border-left: 5px solid #780000;
}

[id = '2'],[id = '5'],[id = '8']{
    border-left: 5px solid #780000;
}

#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-items: center; 
    min-width: 610px; 
    min-height: 610px;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#inputs {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#playerX, #playerO {
    height: 36px;
    width: 300px;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid #003049;
    background-color: #003049;
    color: #FDF0D5;
    line-height: 36px;
    text-align: center;   
}

::placeholder {
    color: #FDF0D5;
    opacity: 1;
    font-size: 30px;
}


#buttons {
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #003049;
    color: #FDF0D5;
}
