body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
}

.cells {
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 90px;
}

[id = '3'],[id = '4'],[id = '5']{
   border-top: 5px solid black;
   border-bottom: 5px solid black; 
}

[id = '1'],[id = '4'],[id = '7']{
    border-left: 5px solid black;
}

[id = '2'],[id = '5'],[id = '8']{
    border-left: 5px solid black;
}

#gameboard {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-items: center; 
    min-width: 610px; 
    min-height: 610px;
}

